<!-- 
   {{ ansible_managed }}
   This is a Microsoft Sysmon configuration to be used on Windows workstations
   v0.2.1 December 2016
   Florian Roth (with the help and ideas of others)
   
   The focus of this configuration is 
   - malware detection (execution)
   - malware detection (network connections)
   - exploit detection
   It is not focussed on 
   - hacking activity on workstation (bad admin, attacker)
   
   See Windows server base config: https://gist.github.com/Neo23x0/a4b4af9481e01e749409
--> 
<Sysmon schemaversion="4.00">
    <!-- Capture MD5 Hashes -->
    <HashAlgorithms>MD5,SHA1,SHA256</HashAlgorithms>
    <EventFiltering>
      <!-- Log all drivers except if the signature -->
      <!-- contains Microsoft or Windows -->
      <DriverLoad onmatch="exclude">
          <Signature condition="contains">microsoft</Signature>
          <Signature condition="contains">windows</Signature>
      </DriverLoad>
      <!-- Log all process creation events -->
      <ProcessCreate onmatch="exclude">
          <Image condition="end with">System32\SearchFilterHost.exe</Image>
          <IntegrityLevel condition="is">AppContainer</IntegrityLevel>
          <Image condition="image">C:\Windows\System32\audiodg.exe</Image>
          <Image condition="end with">System32\SearchProtocolHost.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunkd.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winprintmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\btool.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-powershell.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-netmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-admon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-MonitorNHandle.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winevtlog.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-perfmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-wmi.exe</Image>
          <Image condition="end with">osqueryd\osqueryd.exe</Image>
      </ProcessCreate>
      <!-- Log all remote thread creation events -->
      <CreateRemoteThread onmatch="exclude">
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunkd.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-winprintmon.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\btool.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-powershell.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-netmon.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-admon.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-MonitorNHandle.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-winevtlog.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-perfmon.exe</SourceImage>
          <SourceImage condition="end with">SplunkUniversalForwarder\bin\splunk-wmi.exe</SourceImage>
          <SourceImage condition="end with">osqueryd\osqueryd.exe</SourceImage>
      </CreateRemoteThread>
      <!-- Log all file creation time stamps -->
      <FileCreateTime onmatch="exclude">
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunkd.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winprintmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\btool.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-powershell.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-netmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-admon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-MonitorNHandle.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winevtlog.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-perfmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-wmi.exe</Image>
          <Image condition="end with">osqueryd\osqueryd.exe</Image>
      </FileCreateTime>
      <!-- Do not log raw disk access (caused event flooding with certain disk encryption drivers) -->
      <RawAccessRead onmatch="include" />
      <!-- Do not log process termination -->
      <ProcessTerminate onmatch="include" />
      <!-- Log all registry events -->
      <RegistryEvent onmatch="exclude" />
      <!-- Log file creation events -->
      <FileCreate onmatch="exclude">
          <TargetFilename condition="contains">splunk.exe</TargetFilename>
          <TargetFilename condition="contains">splunk.exe</TargetFilename>
          <TargetFilename condition="contains">splunkd.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-winprintmon.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-rgmon.exe</TargetFilename>
          <TargetFilename condition="contains">btool.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-powershell.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-netmon.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-admon.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-MonitorNHandle.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-winevtlog.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-perfmon.exe</TargetFilename>
          <TargetFilename condition="contains">splunk-wmi.exe</TargetFilename>
          <TargetFilename condition="contains">splunk.exe</TargetFilename>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunkd.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winprintmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\btool.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-powershell.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-netmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-admon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-MonitorNHandle.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winevtlog.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-perfmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-wmi.exe</Image>
          <Image condition="end with">osqueryd\osqueryd.exe</Image>
      </FileCreate>
      <!-- Log if file stream is created -->
      <FileCreateStreamHash onmatch="exclude" />
      <!-- Log all network traffic except Splunk, OSQuery-->
      <NetworkConnect onmatch="exclude">
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunkd.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winprintmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-rgmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\btool.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-powershell.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-netmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-admon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-MonitorNHandle.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-winevtlog.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-perfmon.exe</Image>
          <Image condition="end with">SplunkUniversalForwarder\bin\splunk-wmi.exe</Image>
          <Image condition="contains">osqueryd.exe</Image>
      </NetworkConnect>
<!-- https://www.eideon.com/2017-09-09-THL01-Mimikatz/ -->
      <!--SYSMON EVENT ID 10 : INTER-PROCESS ACCESS-->
      <!--DATA: UtcTime, SourceProcessGuid, SourceProcessId, SourceThreadId, SourceImage, TargetProcessGuid, TargetProcessId, TargetImage, GrantedAccess, CallTrace-->
<!-- FIXME! issue with Sysmon v7/schema version 4
      <ProcessAccess onmatch="exclude" />
-->
    </EventFiltering>
</Sysmon>
