---
# https://support.microsoft.com/en-us/help/921468/security-auditing-settings-are-not-applied-to-windows-vista-based-and
- name: Disable "Force audit policy subcategory settings to override audit policy category settings "
  win_regedit:
    path: HKLM:\System\CurrentControlSet\Control\Lsa
    name: SCENoApplyLegacyAuditPolicy
    data: 0
    type: dword

- name: Common | Configure Windows Audit policies
  win_command: AuditPol /Set /Category:"{{ item }}" /Failure:Enable /Success:Enable
  with_items: "{{ win_auditpol_enable }}"
  ignore_errors: true

# https://posts.specterops.io/hunting-with-active-directory-replication-metadata-1dab2f681b19
# https://social.technet.microsoft.com/wiki/contents/articles/25946.metadata-de-replication-et-analyse-forensic-active-directory-fr-fr.aspx
- name: Specific | Configure Windows Audit policies
  win_command: AuditPol /Set /Category:"{{ item.cat }}" /Subcategory:"{{ item.sub }}" /Failure:{{ item.fail | ternary('Enable', 'Disable') }} /Success:{{ item.success | ternary('Enable', 'Disable') }}
  with_items: "{{ win_auditpol_subcat_enable }}"
  ignore_errors: true
